
[Unit]
Description=AutoSSH tunnel service to lively kernel
Wants=network-online.target
After=network-online.target

[Service]
User=jens
Group=jens
Type=simple
WorkingDirectory=/home/jens
ExecStart=/home/jens/lively4/lively4-server/bin/autossh.sh
#ExecStart=/usr/bin/autossh -t -R 8007:localhost:9005 -R 8008:localhost:3000 -l jens lively-kernel.org -N
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
